<div class="operation-list-view">

	<!-- OPERATION LIST -->
	<div id="amounts-list" class="row">
		
		<div class="col-sm-4 col-sm-offset-4 text-center">
			<!-- LOOP OVER THE AMOUNTS IN $scope.amounts -->
			<div class="text-center" ng-repeat="amount in amounts">
				<div class="col-xs-6">
					<span class="label label-default pull-right" 
						  ng-class="{'label-danger': amount.amount < 0, 'label-success': amount.amount > 0 }">
						  {{ amount.amount }} {{ amount.currency }}
					</span>
				</div>
				<div class="col-xs-6 pull-left">
					{{ amount.date}}
				</div>
			</div>
		</div>
	</div>

	<!-- FORM TO ADD AMOUNTS -->
	<div id="wallet-form" class="row">
		<div class="col-sm-2">

			<p class="text-center" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-3x"></span>
			</p>

		</div>
		<div class="col-sm-8 text-center">
			<form>
				<div class="form-group">

					<!-- BIND THIS VALUE TO formData.amount IN ANGULAR -->
					<input type="text" class="form-control input-lg text-center" placeholder="Insert amount" ng-model="formData.amount">
				</div>

				<!-- createAmount() WILL CREATE NEW AMOUNTS -->
				<button type="submit" class="btn btn-success btn-lg" ng-click="createAmount(false)">Add</button>
				<button type="submit" class="btn btn-danger btn-lg" ng-click="createAmount(true)">Withdraw</button>
			</form>
		</div>
	</div>
			
	<div class="alert not-number alert-danger text-center fade in" role="alert" style="display: none;">
		You can insert only numeric values!
	</div>
	
	<div class="alert too-much alert-danger text-center fade in" role="alert" style="display: none;">
		You cannot remove more than your total amount!
	</div>
	
	<div class="alert positive-values alert-danger text-center fade in" role="alert" style="display: none;">
		The amount must be greater than 0!
	</div>
	
</div>